/* --- general --- */
.playButton{
    text-align: center;
    margin-left: auto;
    font-size: 80px;
    margin-right: auto;
    padding: 3%;
    max-width: fit-content;
    display: flex;
    background-color: white;
    border: none;
    border-radius: 500px;
    transition: 1s;
    /* set transition to however long the
    arm needs to be up to start */
}

.playButton:hover{
    background-color: aqua;
}

#rightside{
    background-color: limegreen;
}

#leftside{
    background-color: yellow;
}

#score{
    text-align: center;
    margin: auto;
}

#gameModeSelect{
    height: 25%;
}
/* END general */

/* --- title page --- */
.title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
/* END title page */

/* --- instructions --- */
.Instruction{
    text-align: center;
}

#instructionOption{
    display: flex; 
    text-align: justify;
    border: 1px solid black;
}

.optionBox {
    width: 50%; 
    display: flex; 
    justify-content:center; 
    align-items: center; 
    border: none;
}
/* END instructions */

/* --- trivia questions --- */
.questionPlaceholder{
    display: flex;
    /* flex: 1; */
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%
}

.triviaQuestion{
    text-align: center;
    font-size: 40px;
}

img {
    display: block;
    /* min-width: 40%;
    max-width: 50%;
    max-height: 50%; */
    height: 500px;
    /* height: auto; */
}
/* END trivia questions */

/* --- trivia answers ---*/
.optionsContainer {
    /* flex-direction: row;
    /* height: 60vh; */
    width: 100%;
    height: 50%;
    border: 1px solid black;
}

.leftContainer, .rightContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    /* border:1px solid black; */
}

#rightOption:hover{
    background-color: limegreen;
}

#leftOption:hover{
    background-color: yellow;
}

.triviaOption{
    display: inline-block;
    background: #fff;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    border: none;
    border-radius: 500px;
    padding: 5%;
    transition: 1s;
}
/* END trivia answers */

/* --- top bar --- */
.scoreGroup{
    text-align: right;
}

.questionsRemaining{
    text-align: right;
}

.scoreElement{
    display: inline-block;
    padding: 0px;
    text-align: center;
}

.topBarContainer{
    height: 50%;
    display: flex;
    text-align: justify;
    /* flex-direction: row; */
}

.timerDiv{
    display: flex;
    /* flex: 1; */
    width: 25%;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.timer {
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;  
}

#timer{
    font-size: 70px;
}

#questionsAndScore{
    font-size: 35px;
}

.continueButton{
    font-size: 50px;
    border: 0px;
}