body{
    background-color: #a2dbf1;
}

.title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.Instruction{
    text-align: center;
}

.textBlock{
    text-align: center;
}

#playbutton{
    text-align: center;
    margin: auto;
    display: flex;
}

#score{
    text-align: center;
    margin: auto;
}

.countryButton{
    text-align: center;
    margin: auto;
    display: flex;
}

.triviaPhoto{
    text-align:center; 
    margin:auto; 
    width: 500px
}

.triviaOption{
    display: inline-block;
    padding: 20px;
    text-align: center
}

.triviaQuestion{
    text-align: center;
}

.scoreGroup{
    text-align: center;
}

.scoreElement{
    display: inline-block;
    padding: 20px;
    text-align: center;
}