.title{
    text-align: center;
}

.Instruction{
    text-align: center;
}

#playbutton{
    text-align: center;
    margin: auto;
    display: flex;
}

#score{
    text-align: center;
    margin: auto;
}

.countryButton{
    text-align: center;
    margin: auto;
    display: flex;
}

.triviaOption{
    display: inline-block;
    padding: 20px;
    text-align: center
}

.triviaQuestion{
    text-align: center;
}

.scoreGroup{
    text-align: center;
}

.scoreElement{
    display: inline-block;
    padding: 20px;
    text-align: center
}